/* ----------------------------------------
                HEADING SECTION
------------------------------------------- */

.heading-container {
  padding: 250px 100px;
  text-align: center;

  .header-logo {
    height: 100px;
  }
}

.productlist-container {
  .productlist-header {
    text-align: center;
    font-size: 2.3rem;
  }
}



