/* ----------------------------------------
          MAIN THEMES AND BEHAVIOURS
------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
    margin: 0;
  padding: 0;
  font-size: 10px;
}

.primary {
  background-color: #20122E;
  color: white;
}

.secondary {
  background-color: white;
  color: #20122E;
}

.center {
  margin: 0 auto;
}
/* ----------------------------------------
             NAVBAR & FOOTER
------------------------------------------- */

nav {
  max-height: 50px;
  padding: 5px 10px;
  .logo {
height: 40px;
  }
}

footer {
  max-height: 25px;
  text-align: center;
}


/* ----------------------------------------
                SPINNING LOGO
------------------------------------------- */
.header-logo, .logo {
  animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fast {
  animation-duration: 500ms;
  animation-timing-function: linear;
}


@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


/* ----------------------------------------
             BUTTON STYLES
------------------------------------------- */




.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.btn-grad {
   margin: 20px auto;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 5px #eee;
   border-radius: 10px;
   display: block;
   text-decoration: none!important;
   font-size: 1rem;
   font-family: 'Quicksand', sans-serif;
 }

.sml {
  padding: 10px 20px;
}

.mid {
  width: 50%;
  margin-top: 50px
}

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }
